# Discretization of pre-processed data using Decision Tree discretization
## Dataset: adult
By: Sam
Update: 15/03/2023

### About Dataset
Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).
- 48842 instances, mix of continuous and discrete    (train=32561, test=16281)
- 45222 if instances with unknown values are removed (train=30162, test=15060)
- Duplicate or conflicting instances : 6
- Class probabilities for adult.all file
- Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)
- Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)

ATTRIBUTE:
*Continuous attributes*
- age: continuous.
- fnlwgt: continuous.
- education-num: continuous.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.

*Categorical attributes*
- workclass
- education
- marital-status
- occupation
- relationship
- race
- sex
- native-country

# 1. Preparing data

In [1]:
# Import library
import pandas as pd
import numpy as np
from collections import Counter #for Chi Merge

In [2]:
# Read clean dataset for discretization
data0 = pd.read_csv('clean_adult.csv')
#adult dataset
adult = data0

In [3]:
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
adult['class'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
adult['class']= label_encoder.fit_transform(adult['class'])
  
adult['class'].unique()

array([0, 1])

In [6]:
# List of continuous feature to discretize
num_list = ['age', 'fnlwgt', 'education-num', 'capital-gain', 
            'capital-loss', 'hours-per-week']

In [7]:
y_list = pd.DataFrame(adult['class'])

In [8]:
num_list

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [9]:
num_list
y_list

       class
0          0
1          0
2          0
3          0
4          0
...      ...
48837      0
48838      0
48839      0
48840      0
48841      1

[48842 rows x 1 columns]

# 3. Decision Tree discretization

In [10]:
# !pip install feature_engine

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from feature_engine.discretisation import DecisionTreeDiscretiser

In [13]:
# Load dataset
data = adult
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,0
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,0
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,0
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,0
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,1

In [14]:
# Separate into train and test sets
X_train, X_test, y_train, y_test =  train_test_split(
            data,
            data['class'], test_size=0.3, random_state=0)

# DT scripts

In [15]:
#load data
data = adult
# let's separate into training and testing set
# Separate into train and test sets
X_train, X_test, y_train, y_test =  train_test_split(
            data,
            data['class'], test_size=0.3, random_state=0)

print("X_train :", X_train.shape)
print("X_test :", X_test.shape)

X_train : (34189, 15)
X_test : (14653, 15)

## 2.1 DT with small max_depth

In [16]:
#make DT discreizer
# 'max_depth': [2] => 2^2 = 4 intervals max. 
import time
start = time.time() # For measuring time execution
treeDisc = DecisionTreeDiscretiser(cv=3,
                                   scoring='accuracy',
                                   variables=num_list,
                                   regression=False,
                                   param_grid={'max_depth': [2]},
                                   random_state=29,
                                   )

treeDisc.fit(X_train, y_train)

# transform the data
train_t= treeDisc.transform(X_train)
test_t= treeDisc.transform(X_test)

#add on to categorical dataset again
disc = pd.concat([train_t, test_t], axis=0)
print(disc)
#categorical = categorical.drop('label', axis=1)

print('DT discreizer binner dict:')
print(treeDisc.binner_dict_)
print(' ')
print('Computation time: ')
end = time.time()
print(end - start) # Total time execution for this sample

            age          workclass    fnlwgt      education  education-num  \
3833   0.345230            Private  0.232358   Some-college       0.182177
34743  0.345230        Federal-gov  0.215873        HS-grad       0.182177
2022   0.236174            Private  0.256482   Some-college       0.182177
1580   0.024036            Private  0.232358        HS-grad       0.182177
4612   0.345230            Private  0.256482    Prof-school       0.621669
...         ...                ...       ...            ...            ...
48826  0.345230          Local-gov  0.256482        Masters       0.621669
44230  0.024036   Self-emp-not-inc  0.215873           11th       0.056861
27824  0.345230            Private  0.232358        HS-grad       0.182177
13582  0.024036            Private  0.256482        HS-grad       0.182177
14557  0.024036            Private  0.232358   Some-college       0.182177

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.203779      0.228999
34743                Black     Male      0.203779      0.228999
2022                 White     Male      0.203779      0.228999
1580                 White     Male      0.203779      0.228999
4612                 White     Male      0.203779      0.228999
...                    ...      ...           ...           ...
48826                White   Female      0.203779      0.228999
44230                White   Female      0.203779      0.228999
27824                White     Male      0.203779      0.228999
13582                White     Male      0.203779      0.228999
14557   Asian-Pac-Islander     Male      0.203779      0.228999

       hours-per-week  native-country  class
3833         0.206607   United-States      0
34743        0.206607   United-States      0
2022         0.206607       Nicaragua      0
1580         0.430028   United-States      1
4612         0.430028   United-States      1
...               ...             ...    ...
48826        0.206607               ?      1
44230        0.069223   United-States      0
27824        0.352319   United-States      0
13582        0.206607   United-States      0
14557        0.069223     Philippines      0

[48842 rows x 15 columns]
DT discreizer binner dict:
{'age': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy'), 'fnlwgt': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy'), 'education-num': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy'), 'capital-gain': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy'), 'capital-loss': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy'), 'hours-per-week': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [2]}, scoring='accuracy')}

Computation time:
0.19838285446166992

In [17]:
#Show number of bins for each variable
#no of bins
for i in disc:
    print('No of bins: ' + i)
    print(disc[i].nunique())
    #show start of intervals of each bin
    print('Entries per interval for ' + i)
    print(Counter(disc[i]))
    print(' ')

No of bins: age
4
Entries per interval for age
Counter({0.3452304048234281: 26496, 0.02403592181722134: 10780, 0.23617448439496258: 7831, 0.13466042154566746: 3735})

No of bins: workclass
9
Entries per interval for workclass
Counter({' Private': 33906, ' Self-emp-not-inc': 3862, ' Local-gov': 3136, ' ?': 2799, ' State-gov': 1981, ' Self-emp-inc': 1695, ' Federal-gov': 1432, ' Without-pay': 21, ' Never-worked': 10})

No of bins: fnlwgt
4
Entries per interval for fnlwgt
Counter({0.2564816071670965: 20943, 0.23235812477969686: 20361, 0.21587301587301588: 7209, 0.30869565217391304: 329})

No of bins: education
16
Entries per interval for education
Counter({' HS-grad': 15784, ' Some-college': 10878, ' Bachelors': 8025, ' Masters': 2657, ' Assoc-voc': 2061, ' 11th': 1812, ' Assoc-acdm': 1601, ' 10th': 1389, ' 7th-8th': 955, ' Prof-school': 834, ' 9th': 756, ' 12th': 657, ' Doctorate': 594, ' 5th-6th': 509, ' 1st-4th': 247, ' Preschool': 83})

No of bins: education-num
4
Entries per interval for education-num
Counter({0.18217747247576926: 30324, 0.41577635327635326: 8025, 0.05686142825162301: 6408, 0.6216690042075736: 4085})

No of bins: marital-status
7
Entries per interval for marital-status
Counter({' Married-civ-spouse': 22379, ' Never-married': 16117, ' Divorced': 6633, ' Separated': 1530, ' Widowed': 1518, ' Married-spouse-absent': 628, ' Married-AF-spouse': 37})

No of bins: occupation
15
Entries per interval for occupation
Counter({' Prof-specialty': 6172, ' Craft-repair': 6112, ' Exec-managerial': 6086, ' Adm-clerical': 5611, ' Sales': 5504, ' Other-service': 4923, ' Machine-op-inspct': 3022, ' ?': 2809, ' Transport-moving': 2355, ' Handlers-cleaners': 2072, ' Farming-fishing': 1490, ' Tech-support': 1446, ' Protective-serv': 983, ' Priv-house-serv': 242, ' Armed-Forces': 15})

No of bins: relationship
6
Entries per interval for relationship
Counter({' Husband': 19716, ' Not-in-family': 12583, ' Own-child': 7581, ' Unmarried': 5125, ' Wife': 2331, ' Other-relative': 1506})

No of bins: race
5
Entries per interval for race
Counter({' White': 41762, ' Black': 4685, ' Asian-Pac-Islander': 1519, ' Amer-Indian-Eskimo': 470, ' Other': 406})

No of bins: sex
2
Entries per interval for sex
Counter({' Male': 32650, ' Female': 16192})

No of bins: capital-gain
4
Entries per interval for capital-gain
Counter({0.20377897055629673: 46095, 0.9849004804392587: 2055, 0.32432432432432434: 415, 0.6585365853658537: 277})

No of bins: capital-loss
4
Entries per interval for capital-loss
Counter({0.22899902462813948: 46834, 0.8843226788432268: 949, 0.008450704225352112: 532, 0.3712737127371274: 527})

No of bins: hours-per-week
4
Entries per interval for hours-per-week
Counter({0.2066066066066066: 26154, 0.43002807743460914: 9681, 0.06922293858160841: 8395, 0.35231870525988174: 4612})

No of bins: native-country
42
Entries per interval for native-country
Counter({' United-States': 43832, ' Mexico': 951, ' ?': 857, ' Philippines': 295, ' Germany': 206, ' Puerto-Rico': 184, ' Canada': 182, ' El-Salvador': 155, ' India': 151, ' Cuba': 138, ' England': 127, ' China': 122, ' South': 115, ' Jamaica': 106, ' Italy': 105, ' Dominican-Republic': 103, ' Japan': 92, ' Guatemala': 88, ' Poland': 87, ' Vietnam': 86, ' Columbia': 85, ' Haiti': 75, ' Portugal': 67, ' Taiwan': 65, ' Iran': 59, ' Nicaragua': 49, ' Greece': 49, ' Peru': 46, ' Ecuador': 45, ' France': 38, ' Ireland': 37, ' Thailand': 30, ' Hong': 30, ' Cambodia': 28, ' Trinadad&Tobago': 27, ' Laos': 23, ' Yugoslavia': 23, ' Outlying-US(Guam-USVI-etc)': 23, ' Scotland': 21, ' Honduras': 20, ' Hungary': 19, ' Holand-Netherlands': 1})

No of bins: class
2
Entries per interval for class
Counter({0: 37155, 1: 11687})

In [18]:
#ordinal encoding
from numpy import asarray
from sklearn.preprocessing import OrdinalEncoder
# define data
data1 = asarray(disc)
print(disc)
# define ordinal encoding
encoder = OrdinalEncoder()
# transform data
result = pd.DataFrame(encoder.fit_transform(disc))
#print(result)
disc_ord = pd.DataFrame(result).astype(int)
tmp_col = adult.columns
disc_ord.columns = tmp_col # change column name
#print(disc_ord)
#disc_ord = pd.concat([categorical, disc_ord], axis=1)
print(disc_ord)
disc_ord.isna().sum()
# Export this dataset for discretization
disc_ord.to_csv('DT_small_discretized_adult.csv',index=False)

            age          workclass    fnlwgt      education  education-num  \
3833   0.345230            Private  0.232358   Some-college       0.182177
34743  0.345230        Federal-gov  0.215873        HS-grad       0.182177
2022   0.236174            Private  0.256482   Some-college       0.182177
1580   0.024036            Private  0.232358        HS-grad       0.182177
4612   0.345230            Private  0.256482    Prof-school       0.621669
...         ...                ...       ...            ...            ...
48826  0.345230          Local-gov  0.256482        Masters       0.621669
44230  0.024036   Self-emp-not-inc  0.215873           11th       0.056861
27824  0.345230            Private  0.232358        HS-grad       0.182177
13582  0.024036            Private  0.256482        HS-grad       0.182177
14557  0.024036            Private  0.232358   Some-college       0.182177

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.203779      0.228999
34743                Black     Male      0.203779      0.228999
2022                 White     Male      0.203779      0.228999
1580                 White     Male      0.203779      0.228999
4612                 White     Male      0.203779      0.228999
...                    ...      ...           ...           ...
48826                White   Female      0.203779      0.228999
44230                White   Female      0.203779      0.228999
27824                White     Male      0.203779      0.228999
13582                White     Male      0.203779      0.228999
14557   Asian-Pac-Islander     Male      0.203779      0.228999

       hours-per-week  native-country  class
3833         0.206607   United-States      0
34743        0.206607   United-States      0
2022         0.206607       Nicaragua      0
1580         0.430028   United-States      1
4612         0.430028   United-States      1
...               ...             ...    ...
48826        0.206607               ?      1
44230        0.069223   United-States      0
27824        0.352319   United-States      0
13582        0.206607   United-States      0
14557        0.069223     Philippines      0

[48842 rows x 15 columns]
       age  workclass  fnlwgt  education  education-num  marital-status  \
0        3          4       1         15              1               2
1        3          1       0         11              1               0
2        2          4       2         15              1               0
3        0          4       1         11              1               2
4        3          4       2         14              3               2
...    ...        ...     ...        ...            ...             ...
48837    3          2       2         12              3               2
48838    0          6       0          1              0               4
48839    3          4       1         11              1               0
48840    0          4       2         11              1               2
48841    0          4       1         15              1               4

       occupation  relationship  race  sex  capital-gain  capital-loss  \
0              10             0     4    1             0             1
1              11             4     2    1             0             1
2               8             2     4    1             0             1
3              12             0     4    1             0             1
4              10             0     4    1             0             1
...           ...           ...   ...  ...           ...           ...
48837          10             5     4    0             0             1
48838           1             3     4    0             0             1
48839           3             4     4    1             0             1
48840           4             0     4    1             0             1
48841          12             1     1    1             0             1

       hours-per-week  native-country  class
0                   1              39      0
1                   1              39      0
2                   1              27      0
3                   3              39      1
4                   3              39      1
...               ...             ...    ...
48837               1               0      1
48838               0              39      0
48839               2              39      0
48840               1              39      0
48841               0              30      0

[48842 rows x 15 columns]

In [19]:
disc_ord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int32
 1   workclass       48842 non-null  int32
 2   fnlwgt          48842 non-null  int32
 3   education       48842 non-null  int32
 4   education-num   48842 non-null  int32
 5   marital-status  48842 non-null  int32
 6   occupation      48842 non-null  int32
 7   relationship    48842 non-null  int32
 8   race            48842 non-null  int32
 9   sex             48842 non-null  int32
 10  capital-gain    48842 non-null  int32
 11  capital-loss    48842 non-null  int32
 12  hours-per-week  48842 non-null  int32
 13  native-country  48842 non-null  int32
 14  class           48842 non-null  int32
dtypes: int32(15)
memory usage: 2.8 MB

## 2.2 DT with medium max_depth

In [20]:
#make DT discreizer
# 'max_depth': [3] => 2^3 = 8 intervals max. 
import time
start = time.time() # For measuring time execution
treeDisc = DecisionTreeDiscretiser(cv=3,
                                   scoring='accuracy',
                                   variables=num_list,
                                   regression=False,
                                   param_grid={'max_depth': [3]},
                                   random_state=29,
                                   )

treeDisc.fit(X_train, y_train)

# transform the data
train_t= treeDisc.transform(X_train)
test_t= treeDisc.transform(X_test)

#add on to categorical dataset again
disc = pd.concat([train_t, test_t], axis=0)
print(disc)
#categorical = categorical.drop('label', axis=1)

# put side by side the original variable and the transformed variable
print('DT discreizer binner dict:')
print(treeDisc.binner_dict_)
print(' ')
print('Computation time: ')
end = time.time()
print(end - start) # Total time execution for this sample

            age          workclass    fnlwgt      education  education-num  \
3833   0.361314            Private  0.234367   Some-college       0.170719
34743  0.361314        Federal-gov  0.217610        HS-grad       0.170719
2022   0.249727            Private  0.256330   Some-college       0.170719
1580   0.057177            Private  0.234367        HS-grad       0.170719
4612   0.361314            Private  0.256330    Prof-school       0.736630
...         ...                ...       ...            ...            ...
48826  0.361314          Local-gov  0.256330        Masters       0.560451
44230  0.007691   Self-emp-not-inc  0.217610           11th       0.058477
27824  0.361314            Private  0.234367        HS-grad       0.170719
13582  0.057177            Private  0.256330        HS-grad       0.170719
14557  0.007691            Private  0.234367   Some-college       0.170719

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.205732      0.228435
34743                Black     Male      0.205732      0.228435
2022                 White     Male      0.205732      0.228435
1580                 White     Male      0.205732      0.228435
4612                 White     Male      0.205732      0.228435
...                    ...      ...           ...           ...
48826                White   Female      0.205732      0.228435
44230                White   Female      0.205732      0.228435
27824                White     Male      0.205732      0.228435
13582                White     Male      0.205732      0.228435
14557   Asian-Pac-Islander     Male      0.205732      0.228435

       hours-per-week  native-country  class
3833         0.212903   United-States      0
34743        0.212903   United-States      0
2022         0.212903       Nicaragua      0
1580         0.443985   United-States      1
4612         0.443985   United-States      1
...               ...             ...    ...
48826        0.212903               ?      1
44230        0.067683   United-States      0
27824        0.358564   United-States      0
13582        0.212903   United-States      0
14557        0.067683     Philippines      0

[48842 rows x 15 columns]
DT discreizer binner dict:
{'age': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy'), 'fnlwgt': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy'), 'education-num': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy'), 'capital-gain': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy'), 'capital-loss': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy'), 'hours-per-week': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [3]}, scoring='accuracy')}

Computation time:
0.23151111602783203

In [21]:
#Show number of bins for each variable
#no of bins
for i in disc:
    print('No of bins: ' + i)
    print(disc[i].nunique())
    #show start of intervals of each bin
    print('Entries per interval for ' + i)
    print(Counter(disc[i]))
    print(' ')

No of bins: age
8
Entries per interval for age
Counter({0.3613143135820532: 23340, 0.007690790771051075: 7226, 0.24972677595628415: 5228, 0.057177129148340666: 3554, 0.22375690607734808: 3156, 0.20890599230346343: 2603, 0.1537122969837587: 2503, 0.0954653937947494: 1232})

No of bins: workclass
9
Entries per interval for workclass
Counter({' Private': 33906, ' Self-emp-not-inc': 3862, ' Local-gov': 3136, ' ?': 2799, ' State-gov': 1981, ' Self-emp-inc': 1695, ' Federal-gov': 1432, ' Without-pay': 21, ' Never-worked': 10})

No of bins: fnlwgt
8
Entries per interval for fnlwgt
Counter({0.2563301880388297: 20940, 0.234366944096634: 19484, 0.21761031634092282: 7098, 0.1875: 877, 0.29464285714285715: 322, 0.1038961038961039: 111, 0.8333333333333334: 7, 1.0: 3})

No of bins: education
16
Entries per interval for education
Counter({' HS-grad': 15784, ' Some-college': 10878, ' Bachelors': 8025, ' Masters': 2657, ' Assoc-voc': 2061, ' 11th': 1812, ' Assoc-acdm': 1601, ' 10th': 1389, ' 7th-8th': 955, ' Prof-school': 834, ' 9th': 756, ' 12th': 657, ' Doctorate': 594, ' 5th-6th': 509, ' 1st-4th': 247, ' Preschool': 83})

No of bins: education-num
7
Entries per interval for education-num
Counter({0.1707186462461176: 26662, 0.41577635327635326: 8025, 0.058476774345673194: 6078, 0.2651162790697674: 3662, 0.5604513702310586: 2657, 0.7366296670030272: 1428, 0.02654867256637168: 330})

No of bins: marital-status
7
Entries per interval for marital-status
Counter({' Married-civ-spouse': 22379, ' Never-married': 16117, ' Divorced': 6633, ' Separated': 1530, ' Widowed': 1518, ' Married-spouse-absent': 628, ' Married-AF-spouse': 37})

No of bins: occupation
15
Entries per interval for occupation
Counter({' Prof-specialty': 6172, ' Craft-repair': 6112, ' Exec-managerial': 6086, ' Adm-clerical': 5611, ' Sales': 5504, ' Other-service': 4923, ' Machine-op-inspct': 3022, ' ?': 2809, ' Transport-moving': 2355, ' Handlers-cleaners': 2072, ' Farming-fishing': 1490, ' Tech-support': 1446, ' Protective-serv': 983, ' Priv-house-serv': 242, ' Armed-Forces': 15})

No of bins: relationship
6
Entries per interval for relationship
Counter({' Husband': 19716, ' Not-in-family': 12583, ' Own-child': 7581, ' Unmarried': 5125, ' Wife': 2331, ' Other-relative': 1506})

No of bins: race
5
Entries per interval for race
Counter({' White': 41762, ' Black': 4685, ' Asian-Pac-Islander': 1519, ' Amer-Indian-Eskimo': 470, ' Other': 406})

No of bins: sex
2
Entries per interval for sex
Counter({' Male': 32650, ' Female': 16192})

No of bins: capital-gain
8
Entries per interval for capital-gain
Counter({0.2057321848081441: 45660, 0.9890453834115805: 1802, 0.0: 435, 0.13425925925925927: 307, 0.9553072625698324: 253, 1.0: 146, 0.27835051546391754: 131, 0.8375: 108})

No of bins: capital-loss
8
Entries per interval for capital-loss
Counter({0.22843460224499756: 46791, 0.9385964912280702: 822, 0.002857142857142857: 524, 0.13537117903930132: 324, 0.7571428571428571: 203, 0.5287356321839081: 127, 1.0: 43, 0.4: 8})

No of bins: hours-per-week
8
Entries per interval for hours-per-week
Counter({0.21290282288283788: 22862, 0.06768334475668265: 8315, 0.44398489480309294: 8009, 0.35856432125088844: 4047, 0.16283108988276163: 3292, 0.3656716417910448: 1672, 0.3082706766917293: 565, 0.22413793103448276: 80})

No of bins: native-country
42
Entries per interval for native-country
Counter({' United-States': 43832, ' Mexico': 951, ' ?': 857, ' Philippines': 295, ' Germany': 206, ' Puerto-Rico': 184, ' Canada': 182, ' El-Salvador': 155, ' India': 151, ' Cuba': 138, ' England': 127, ' China': 122, ' South': 115, ' Jamaica': 106, ' Italy': 105, ' Dominican-Republic': 103, ' Japan': 92, ' Guatemala': 88, ' Poland': 87, ' Vietnam': 86, ' Columbia': 85, ' Haiti': 75, ' Portugal': 67, ' Taiwan': 65, ' Iran': 59, ' Nicaragua': 49, ' Greece': 49, ' Peru': 46, ' Ecuador': 45, ' France': 38, ' Ireland': 37, ' Thailand': 30, ' Hong': 30, ' Cambodia': 28, ' Trinadad&Tobago': 27, ' Laos': 23, ' Yugoslavia': 23, ' Outlying-US(Guam-USVI-etc)': 23, ' Scotland': 21, ' Honduras': 20, ' Hungary': 19, ' Holand-Netherlands': 1})

No of bins: class
2
Entries per interval for class
Counter({0: 37155, 1: 11687})

In [22]:
#ordinal encoding
from numpy import asarray
from sklearn.preprocessing import OrdinalEncoder
# define data
data1 = asarray(disc)
print(disc)
# define ordinal encoding
encoder = OrdinalEncoder()
# transform data
result = pd.DataFrame(encoder.fit_transform(disc))
#print(result)
disc_ord = pd.DataFrame(result).astype(int)
tmp_col = adult.columns
disc_ord.columns = tmp_col # change column name
#print(disc_ord)
#disc_ord = pd.concat([categorical, disc_ord], axis=1)
print(disc_ord)
disc_ord.isna().sum()
# Export this dataset for discretization
disc_ord.to_csv('DT_medium_discretized_adult.csv',index=False)

            age          workclass    fnlwgt      education  education-num  \
3833   0.361314            Private  0.234367   Some-college       0.170719
34743  0.361314        Federal-gov  0.217610        HS-grad       0.170719
2022   0.249727            Private  0.256330   Some-college       0.170719
1580   0.057177            Private  0.234367        HS-grad       0.170719
4612   0.361314            Private  0.256330    Prof-school       0.736630
...         ...                ...       ...            ...            ...
48826  0.361314          Local-gov  0.256330        Masters       0.560451
44230  0.007691   Self-emp-not-inc  0.217610           11th       0.058477
27824  0.361314            Private  0.234367        HS-grad       0.170719
13582  0.057177            Private  0.256330        HS-grad       0.170719
14557  0.007691            Private  0.234367   Some-college       0.170719

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.205732      0.228435
34743                Black     Male      0.205732      0.228435
2022                 White     Male      0.205732      0.228435
1580                 White     Male      0.205732      0.228435
4612                 White     Male      0.205732      0.228435
...                    ...      ...           ...           ...
48826                White   Female      0.205732      0.228435
44230                White   Female      0.205732      0.228435
27824                White     Male      0.205732      0.228435
13582                White     Male      0.205732      0.228435
14557   Asian-Pac-Islander     Male      0.205732      0.228435

       hours-per-week  native-country  class
3833         0.212903   United-States      0
34743        0.212903   United-States      0
2022         0.212903       Nicaragua      0
1580         0.443985   United-States      1
4612         0.443985   United-States      1
...               ...             ...    ...
48826        0.212903               ?      1
44230        0.067683   United-States      0
27824        0.358564   United-States      0
13582        0.212903   United-States      0
14557        0.067683     Philippines      0

[48842 rows x 15 columns]
       age  workclass  fnlwgt  education  education-num  marital-status  \
0        7          4       3         15              2               2
1        7          1       2         11              2               0
2        6          4       4         15              2               0
3        1          4       3         11              2               2
4        7          4       4         14              6               2
...    ...        ...     ...        ...            ...             ...
48837    7          2       4         12              5               2
48838    0          6       2          1              1               4
48839    7          4       3         11              2               0
48840    1          4       4         11              2               2
48841    0          4       3         15              2               4

       occupation  relationship  race  sex  capital-gain  capital-loss  \
0              10             0     4    1             2             2
1              11             4     2    1             2             2
2               8             2     4    1             2             2
3              12             0     4    1             2             2
4              10             0     4    1             2             2
...           ...           ...   ...  ...           ...           ...
48837          10             5     4    0             2             2
48838           1             3     4    0             2             2
48839           3             4     4    1             2             2
48840           4             0     4    1             2             2
48841          12             1     1    1             2             2

       hours-per-week  native-country  class
0                   2              39      0
1                   2              39      0
2                   2              27      0
3                   7              39      1
4                   7              39      1
...               ...             ...    ...
48837               2               0      1
48838               0              39      0
48839               5              39      0
48840               2              39      0
48841               0              30      0

[48842 rows x 15 columns]

## 2.3 DT with large max_depth

In [23]:
#make DT discreizer
# 'max_depth': [4] => 2^4 = 16 intervals max. 
import time
start = time.time() # For measuring time execution
treeDisc = DecisionTreeDiscretiser(cv=3,
                                   scoring='accuracy',
                                   variables=num_list,
                                   regression=False,
                                   param_grid={'max_depth': [4]},
                                   random_state=29,
                                   )

treeDisc.fit(X_train, y_train)

# transform the data
train_t= treeDisc.transform(X_train)
test_t= treeDisc.transform(X_test)

#add on to categorical dataset again
disc = pd.concat([train_t, test_t], axis=0)
print(disc)
#categorical = categorical.drop('label', axis=1)

# put side by side the original variable and the transformed variable
print('DT discreizer binner dict:')
print(treeDisc.binner_dict_)
print(' ')
print('Computation time: ')
end = time.time()
print(end - start) # Total time execution for this sample

            age          workclass    fnlwgt      education  education-num  \
3833   0.339460            Private  0.234041   Some-college       0.190202
34743  0.339460        Federal-gov  0.216926        HS-grad       0.157246
2022   0.236872            Private  0.255982   Some-college       0.190202
1580   0.065947            Private  0.234041        HS-grad       0.157246
4612   0.339460            Private  0.255982    Prof-school       0.740103
...         ...                ...       ...            ...            ...
48826  0.377003          Local-gov  0.255982        Masters       0.560451
44230  0.002726   Self-emp-not-inc  0.216926           11th       0.052725
27824  0.339460            Private  0.234041        HS-grad       0.157246
13582  0.065947            Private  0.255982        HS-grad       0.157246
14557  0.016959            Private  0.234041   Some-college       0.190202

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.203425      0.227949
34743                Black     Male      0.203425      0.227949
2022                 White     Male      0.203425      0.227949
1580                 White     Male      0.203425      0.227949
4612                 White     Male      0.203425      0.227949
...                    ...      ...           ...           ...
48826                White   Female      0.203425      0.227949
44230                White   Female      0.203425      0.227949
27824                White     Male      0.203425      0.227949
13582                White     Male      0.203425      0.227949
14557   Asian-Pac-Islander     Male      0.203425      0.227949

       hours-per-week  native-country  class
3833         0.212823   United-States      0
34743        0.212823   United-States      0
2022         0.212823       Nicaragua      0
1580         0.448891   United-States      1
4612         0.432234   United-States      1
...               ...             ...    ...
48826        0.212823               ?      1
44230        0.065763   United-States      0
27824        0.360402   United-States      0
13582        0.212823   United-States      0
14557        0.065763     Philippines      0

[48842 rows x 15 columns]
DT discreizer binner dict:
{'age': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy'), 'fnlwgt': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy'), 'education-num': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy'), 'capital-gain': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy'), 'capital-loss': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy'), 'hours-per-week': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [4]}, scoring='accuracy')}

Computation time:
0.27916407585144043

In [24]:
#Show number of bins for each variable
#no of bins
for i in disc:
    print('No of bins: ' + i)
    print(disc[i].nunique())
    #show start of intervals of each bin
    print('Entries per interval for ' + i)
    print(Counter(disc[i]))
    print(' ')

No of bins: age
15
Entries per interval for age
Counter({0.3770028275212064: 13551, 0.33946024799416485: 9789, 0.0027256208358570565: 4719, 0.2620320855614973: 2640, 0.23687150837988827: 2588, 0.016958733747880157: 2507, 0.24053724053724054: 2406, 0.06594724220623502: 2348, 0.21202185792349726: 1325, 0.13485714285714287: 1280, 0.20575221238938052: 1278, 0.0954653937947494: 1232, 0.17314487632508835: 1223, 0.03961584633853541: 1206, 0.17228464419475656: 750})

No of bins: workclass
9
Entries per interval for workclass
Counter({' Private': 33906, ' Self-emp-not-inc': 3862, ' Local-gov': 3136, ' ?': 2799, ' State-gov': 1981, ' Self-emp-inc': 1695, ' Federal-gov': 1432, ' Without-pay': 21, ' Never-worked': 10})

No of bins: fnlwgt
14
Entries per interval for fnlwgt
Counter({0.2559815116911365: 20915, 0.23404098481497862: 19465, 0.2169258735608968: 7080, 0.2273972602739726: 532, 0.12757201646090535: 345, 0.3160621761658031: 277, 0.16666666666666666: 62, 0.02857142857142857: 49, 0.16129032258064516: 45, 0.5263157894736842: 25, 0.6363636363636364: 19, 0.5: 18, 1.0: 6, 0.6666666666666666: 4})

No of bins: education
16
Entries per interval for education
Counter({' HS-grad': 15784, ' Some-college': 10878, ' Bachelors': 8025, ' Masters': 2657, ' Assoc-voc': 2061, ' 11th': 1812, ' Assoc-acdm': 1601, ' 10th': 1389, ' 7th-8th': 955, ' Prof-school': 834, ' 9th': 756, ' 12th': 657, ' Doctorate': 594, ' 5th-6th': 509, ' 1st-4th': 247, ' Preschool': 83})

No of bins: education-num
12
Entries per interval for education-num
Counter({0.1572463768115942: 15784, 0.19020172910662825: 10878, 0.41577635327635326: 8025, 0.06227967097532315: 3609, 0.5604513702310586: 2657, 0.052725118483412325: 2469, 0.25773195876288657: 2061, 0.27466666666666667: 1601, 0.7401032702237521: 834, 0.7317073170731707: 594, 0.029585798816568046: 247, 0.017543859649122806: 83})

No of bins: marital-status
7
Entries per interval for marital-status
Counter({' Married-civ-spouse': 22379, ' Never-married': 16117, ' Divorced': 6633, ' Separated': 1530, ' Widowed': 1518, ' Married-spouse-absent': 628, ' Married-AF-spouse': 37})

No of bins: occupation
15
Entries per interval for occupation
Counter({' Prof-specialty': 6172, ' Craft-repair': 6112, ' Exec-managerial': 6086, ' Adm-clerical': 5611, ' Sales': 5504, ' Other-service': 4923, ' Machine-op-inspct': 3022, ' ?': 2809, ' Transport-moving': 2355, ' Handlers-cleaners': 2072, ' Farming-fishing': 1490, ' Tech-support': 1446, ' Protective-serv': 983, ' Priv-house-serv': 242, ' Armed-Forces': 15})

No of bins: relationship
6
Entries per interval for relationship
Counter({' Husband': 19716, ' Not-in-family': 12583, ' Own-child': 7581, ' Unmarried': 5125, ' Wife': 2331, ' Other-relative': 1506})

No of bins: race
5
Entries per interval for race
Counter({' White': 41762, ' Black': 4685, ' Asian-Pac-Islander': 1519, ' Amer-Indian-Eskimo': 470, ' Other': 406})

No of bins: sex
2
Entries per interval for sex
Counter({' Male': 32650, ' Female': 16192})

No of bins: capital-gain
9
Entries per interval for capital-gain
Counter({0.20342498036135115: 45508, 0.981638418079096: 993, 0.9982456140350877: 809, 0.0: 616, 1.0: 390, 0.232: 188, 0.94: 152, 0.8375: 108, 0.4426229508196721: 78})

No of bins: capital-loss
9
Entries per interval for capital-loss
Counter({0.22794949402305176: 46690, 0.0: 737, 0.9097938144329897: 569, 1.0: 368, 0.8203125: 190, 0.28440366972477066: 148, 0.44: 101, 0.05: 26, 0.08333333333333333: 13})

No of bins: hours-per-week
16
Entries per interval for hours-per-week
Counter({0.212823242126354: 22803, 0.06576296024912988: 7771, 0.4488911547285241: 5623, 0.360402443406396: 4008, 0.15679639029892836: 2515, 0.43223443223443225: 2386, 0.37002540220152413: 1634, 0.1830188679245283: 777, 0.09549071618037135: 544, 0.31601731601731603: 338, 0.2976190476190476: 227, 0.24390243902439024: 59, 0.23809523809523808: 53, 0.1935483870967742: 39, 0.16: 38, 0.1875: 27})

No of bins: native-country
42
Entries per interval for native-country
Counter({' United-States': 43832, ' Mexico': 951, ' ?': 857, ' Philippines': 295, ' Germany': 206, ' Puerto-Rico': 184, ' Canada': 182, ' El-Salvador': 155, ' India': 151, ' Cuba': 138, ' England': 127, ' China': 122, ' South': 115, ' Jamaica': 106, ' Italy': 105, ' Dominican-Republic': 103, ' Japan': 92, ' Guatemala': 88, ' Poland': 87, ' Vietnam': 86, ' Columbia': 85, ' Haiti': 75, ' Portugal': 67, ' Taiwan': 65, ' Iran': 59, ' Nicaragua': 49, ' Greece': 49, ' Peru': 46, ' Ecuador': 45, ' France': 38, ' Ireland': 37, ' Thailand': 30, ' Hong': 30, ' Cambodia': 28, ' Trinadad&Tobago': 27, ' Laos': 23, ' Yugoslavia': 23, ' Outlying-US(Guam-USVI-etc)': 23, ' Scotland': 21, ' Honduras': 20, ' Hungary': 19, ' Holand-Netherlands': 1})

No of bins: class
2
Entries per interval for class
Counter({0: 37155, 1: 11687})

In [25]:
#ordinal encoding
from numpy import asarray
from sklearn.preprocessing import OrdinalEncoder
# define data
data1 = asarray(disc)
print(disc)
# define ordinal encoding
encoder = OrdinalEncoder()
# transform data
result = pd.DataFrame(encoder.fit_transform(disc))
#print(result)
disc_ord = pd.DataFrame(result).astype(int)
tmp_col = adult.columns
disc_ord.columns = tmp_col # change column name
#print(disc_ord)
#disc_ord = pd.concat([categorical, disc_ord], axis=1)
print(disc_ord)
disc_ord.isna().sum()
# Export this dataset for discretization
disc_ord.to_csv('DT_large_discretized_adult.csv',index=False)

            age          workclass    fnlwgt      education  education-num  \
3833   0.339460            Private  0.234041   Some-college       0.190202
34743  0.339460        Federal-gov  0.216926        HS-grad       0.157246
2022   0.236872            Private  0.255982   Some-college       0.190202
1580   0.065947            Private  0.234041        HS-grad       0.157246
4612   0.339460            Private  0.255982    Prof-school       0.740103
...         ...                ...       ...            ...            ...
48826  0.377003          Local-gov  0.255982        Masters       0.560451
44230  0.002726   Self-emp-not-inc  0.216926           11th       0.052725
27824  0.339460            Private  0.234041        HS-grad       0.157246
13582  0.065947            Private  0.255982        HS-grad       0.157246
14557  0.016959            Private  0.234041   Some-college       0.190202

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.203425      0.227949
34743                Black     Male      0.203425      0.227949
2022                 White     Male      0.203425      0.227949
1580                 White     Male      0.203425      0.227949
4612                 White     Male      0.203425      0.227949
...                    ...      ...           ...           ...
48826                White   Female      0.203425      0.227949
44230                White   Female      0.203425      0.227949
27824                White     Male      0.203425      0.227949
13582                White     Male      0.203425      0.227949
14557   Asian-Pac-Islander     Male      0.203425      0.227949

       hours-per-week  native-country  class
3833         0.212823   United-States      0
34743        0.212823   United-States      0
2022         0.212823       Nicaragua      0
1580         0.448891   United-States      1
4612         0.432234   United-States      1
...               ...             ...    ...
48826        0.212823               ?      1
44230        0.065763   United-States      0
27824        0.360402   United-States      0
13582        0.212823   United-States      0
14557        0.065763     Philippines      0

[48842 rows x 15 columns]
       age  workclass  fnlwgt  education  education-num  marital-status  \
0       13          4       6         15              5               2
1       13          1       4         11              4               0
2       10          4       7         15              5               0
3        3          4       6         11              4               2
4       13          4       7         14             11               2
...    ...        ...     ...        ...            ...             ...
48837   14          2       7         12              9               2
48838    0          6       4          1              2               4
48839   13          4       6         11              4               0
48840    3          4       7         11              4               2
48841    1          4       6         15              5               4

       occupation  relationship  race  sex  capital-gain  capital-loss  \
0              10             0     4    1             1             3
1              11             4     2    1             1             3
2               8             2     4    1             1             3
3              12             0     4    1             1             3
4              10             0     4    1             1             3
...           ...           ...   ...  ...           ...           ...
48837          10             5     4    0             1             3
48838           1             3     4    0             1             3
48839           3             4     4    1             1             3
48840           4             0     4    1             1             3
48841          12             1     1    1             1             3

       hours-per-week  native-country  class
0                   7              39      0
1                   7              39      0
2                   7              27      0
3                  15              39      1
4                  14              39      1
...               ...             ...    ...
48837               7               0      1
48838               0              39      0
48839              12              39      0
48840               7              39      0
48841               0              30      0

[48842 rows x 15 columns]

## 2.4 DT with extra large max_depth

In [26]:
#make DT discreizer
# 'max_depth': [5] => 2^5 = 32 intervals max. 
import time
start = time.time() # For measuring time execution
treeDisc = DecisionTreeDiscretiser(cv=3,
                                   scoring='accuracy',
                                   variables=num_list,
                                   regression=False,
                                   param_grid={'max_depth': [5]},
                                   random_state=29,
                                   )

treeDisc.fit(X_train, y_train)

# transform the data
train_t= treeDisc.transform(X_train)
test_t= treeDisc.transform(X_test)

#add on to categorical dataset again
disc = pd.concat([train_t, test_t], axis=0)
print(disc)
#categorical = categorical.drop('label', axis=1)

# put side by side the original variable and the transformed variable
print('DT discreizer binner dict:')
print(treeDisc.binner_dict_)
print(' ')
print('Computation time: ')
end = time.time()
print(end - start) # Total time execution for this sample

            age          workclass    fnlwgt      education  education-num  \
3833   0.345307            Private  0.228316   Some-college       0.190202
34743  0.345307        Federal-gov  0.217629        HS-grad       0.157246
2022   0.245154            Private  0.253143   Some-college       0.190202
1580   0.068427            Private  0.228316        HS-grad       0.157246
4612   0.345307            Private  0.253143    Prof-school       0.740103
...         ...                ...       ...            ...            ...
48826  0.392074          Local-gov  0.253143        Masters       0.560451
44230  0.001190   Self-emp-not-inc  0.217629           11th       0.046191
27824  0.345307            Private  0.228316        HS-grad       0.157246
13582  0.068427            Private  0.253143        HS-grad       0.157246
14557  0.014303            Private  0.252932   Some-college       0.190202

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.206613      0.228573
34743                Black     Male      0.000000      0.228573
2022                 White     Male      0.206613      0.228573
1580                 White     Male      0.206613      0.228573
4612                 White     Male      0.206613      0.228573
...                    ...      ...           ...           ...
48826                White   Female      0.206613      0.228573
44230                White   Female      0.206613      0.228573
27824                White     Male      0.206613      0.228573
13582                White     Male      0.206613      0.228573
14557   Asian-Pac-Islander     Male      0.206613      0.228573

       hours-per-week  native-country  class
3833         0.212823   United-States      0
34743        0.212823   United-States      0
2022         0.212823       Nicaragua      0
1580         0.440238   United-States      1
4612         0.435505   United-States      1
...               ...             ...    ...
48826        0.212823               ?      1
44230        0.063501   United-States      0
27824        0.367245   United-States      0
13582        0.212823   United-States      0
14557        0.063501     Philippines      0

[48842 rows x 15 columns]
DT discreizer binner dict:
{'age': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy'), 'fnlwgt': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy'), 'education-num': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy'), 'capital-gain': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy'), 'capital-loss': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy'), 'hours-per-week': GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=29),
             param_grid={'max_depth': [5]}, scoring='accuracy')}

Computation time:
0.34235692024230957

In [27]:
#Show number of bins for each variable
#no of bins
for i in disc:
    print('No of bins: ' + i)
    print(disc[i].nunique())
    #show start of intervals of each bin
    print('Entries per interval for ' + i)
    print(Counter(disc[i]))
    print(' ')

No of bins: age
24
Entries per interval for age
Counter({0.39207432138191317: 9838, 0.3453066757031515: 8441, 0.3379699248120301: 3713, 0.0011895321173671688: 3623, 0.25268817204301075: 1353, 0.30325288562434416: 1348, 0.2531779661016949: 1337, 0.2289156626506024: 1335, 0.01935483870967742: 1329, 0.21202185792349726: 1325, 0.2710583153347732: 1303, 0.13485714285714287: 1280, 0.20575221238938052: 1278, 0.2451539338654504: 1253, 0.0954653937947494: 1232, 0.17314487632508835: 1223, 0.03961584633853541: 1206, 0.06347305389221557: 1195, 0.014302741358760428: 1178, 0.06842737094837935: 1153, 0.007692307692307693: 1096, 0.2245762711864407: 1053, 0.1646586345381526: 695, 0.2777777777777778: 55})

No of bins: workclass
9
Entries per interval for workclass
Counter({' Private': 33906, ' Self-emp-not-inc': 3862, ' Local-gov': 3136, ' ?': 2799, ' State-gov': 1981, ' Self-emp-inc': 1695, ' Federal-gov': 1432, ' Without-pay': 21, ' Never-worked': 10})

No of bins: fnlwgt
19
Entries per interval for fnlwgt
Counter({0.2531433361274099: 18604, 0.22831620401498415: 14968, 0.217629179331307: 7061, 0.25293185419968306: 4497, 0.27942101950912523: 2311, 0.21971830985915494: 518, 0.1477832512315271: 295, 0.375: 161, 0.24719101123595505: 116, 0.0: 57, 0.13513513513513514: 54, 0.025: 50, 0.5: 41, 0.21739130434782608: 33, 0.05263157894736842: 23, 1.0: 18, 0.5555555555555556: 14, 0.3333333333333333: 13, 0.4: 8})

No of bins: education
16
Entries per interval for education
Counter({' HS-grad': 15784, ' Some-college': 10878, ' Bachelors': 8025, ' Masters': 2657, ' Assoc-voc': 2061, ' 11th': 1812, ' Assoc-acdm': 1601, ' 10th': 1389, ' 7th-8th': 955, ' Prof-school': 834, ' 9th': 756, ' 12th': 657, ' Doctorate': 594, ' 5th-6th': 509, ' 1st-4th': 247, ' Preschool': 83})

No of bins: education-num
14
Entries per interval for education-num
Counter({0.1572463768115942: 15784, 0.19020172910662825: 10878, 0.41577635327635326: 8025, 0.5604513702310586: 2657, 0.059516023544800525: 2145, 0.25773195876288657: 2061, 0.046191247974068074: 1812, 0.27466666666666667: 1601, 0.06640625: 1464, 0.7401032702237521: 834, 0.07048458149779736: 657, 0.7317073170731707: 594, 0.029585798816568046: 247, 0.017543859649122806: 83})

No of bins: marital-status
7
Entries per interval for marital-status
Counter({' Married-civ-spouse': 22379, ' Never-married': 16117, ' Divorced': 6633, ' Separated': 1530, ' Widowed': 1518, ' Married-spouse-absent': 628, ' Married-AF-spouse': 37})

No of bins: occupation
15
Entries per interval for occupation
Counter({' Prof-specialty': 6172, ' Craft-repair': 6112, ' Exec-managerial': 6086, ' Adm-clerical': 5611, ' Sales': 5504, ' Other-service': 4923, ' Machine-op-inspct': 3022, ' ?': 2809, ' Transport-moving': 2355, ' Handlers-cleaners': 2072, ' Farming-fishing': 1490, ' Tech-support': 1446, ' Protective-serv': 983, ' Priv-house-serv': 242, ' Armed-Forces': 15})

No of bins: relationship
6
Entries per interval for relationship
Counter({' Husband': 19716, ' Not-in-family': 12583, ' Own-child': 7581, ' Unmarried': 5125, ' Wife': 2331, ' Other-relative': 1506})

No of bins: race
5
Entries per interval for race
Counter({' White': 41762, ' Black': 4685, ' Asian-Pac-Islander': 1519, ' Amer-Indian-Eskimo': 470, ' Other': 406})

No of bins: sex
2
Entries per interval for sex
Counter({' Male': 32650, ' Female': 16192})

No of bins: capital-gain
10
Entries per interval for capital-gain
Counter({0.20661262526329227: 44807, 0.0: 1435, 1.0: 1120, 0.99002849002849: 985, 0.94: 152, 0.8375: 108, 0.9814814814814815: 79, 0.5576923076923077: 78, 0.6764705882352942: 42, 0.14814814814814814: 36})

No of bins: capital-loss
10
Entries per interval for capital-loss
Counter({0.2285731808285548: 46560, 0.0: 860, 0.9697802197802198: 538, 1.0: 370, 0.8785046728971962: 165, 0.02040816326530612: 130, 0.37349397590361444: 119, 0.6111111111111112: 71, 0.5238095238095238: 25, 0.25: 4})

No of bins: hours-per-week
24
Entries per interval for hours-per-week
Counter({0.212823242126354: 22803, 0.06350148367952523: 7178, 0.4402377972465582: 4572, 0.36724452554744524: 3156, 0.43550531914893614: 2188, 0.1549601737871108: 1937, 0.38575982996811903: 1316, 0.48693259972489683: 1051, 0.3350253807106599: 852, 0.1825726141078838: 714, 0.09405940594059406: 593, 0.16326530612244897: 578, 0.0918918918918919: 532, 0.31601731601731603: 338, 0.30833333333333335: 318, 0.2976190476190476: 227, 0.39552238805970147: 198, 0.1875: 90, 0.24390243902439024: 59, 0.23809523809523808: 53, 0.1935483870967742: 39, 0.125: 23, 0.2222222222222222: 15, 0.2857142857142857: 12})

No of bins: native-country
42
Entries per interval for native-country
Counter({' United-States': 43832, ' Mexico': 951, ' ?': 857, ' Philippines': 295, ' Germany': 206, ' Puerto-Rico': 184, ' Canada': 182, ' El-Salvador': 155, ' India': 151, ' Cuba': 138, ' England': 127, ' China': 122, ' South': 115, ' Jamaica': 106, ' Italy': 105, ' Dominican-Republic': 103, ' Japan': 92, ' Guatemala': 88, ' Poland': 87, ' Vietnam': 86, ' Columbia': 85, ' Haiti': 75, ' Portugal': 67, ' Taiwan': 65, ' Iran': 59, ' Nicaragua': 49, ' Greece': 49, ' Peru': 46, ' Ecuador': 45, ' France': 38, ' Ireland': 37, ' Thailand': 30, ' Hong': 30, ' Cambodia': 28, ' Trinadad&Tobago': 27, ' Laos': 23, ' Yugoslavia': 23, ' Outlying-US(Guam-USVI-etc)': 23, ' Scotland': 21, ' Honduras': 20, ' Hungary': 19, ' Holand-Netherlands': 1})

No of bins: class
2
Entries per interval for class
Counter({0: 37155, 1: 11687})

In [28]:
#ordinal encoding
from numpy import asarray
from sklearn.preprocessing import OrdinalEncoder
# define data
data1 = asarray(disc)
print(disc)
# define ordinal encoding
encoder = OrdinalEncoder()
# transform data
result = pd.DataFrame(encoder.fit_transform(disc))
#print(result)
disc_ord = pd.DataFrame(result).astype(int)
tmp_col = adult.columns
disc_ord.columns = tmp_col # change column name
#print(disc_ord)
#disc_ord = pd.concat([categorical, disc_ord], axis=1)
print(disc_ord)
disc_ord.isna().sum()
# Export this dataset for discretization
disc_ord.to_csv('DT_verylarge_discretized_adult.csv',index=False)

            age          workclass    fnlwgt      education  education-num  \
3833   0.345307            Private  0.228316   Some-college       0.190202
34743  0.345307        Federal-gov  0.217629        HS-grad       0.157246
2022   0.245154            Private  0.253143   Some-college       0.190202
1580   0.068427            Private  0.228316        HS-grad       0.157246
4612   0.345307            Private  0.253143    Prof-school       0.740103
...         ...                ...       ...            ...            ...
48826  0.392074          Local-gov  0.253143        Masters       0.560451
44230  0.001190   Self-emp-not-inc  0.217629           11th       0.046191
27824  0.345307            Private  0.228316        HS-grad       0.157246
13582  0.068427            Private  0.253143        HS-grad       0.157246
14557  0.014303            Private  0.252932   Some-college       0.190202

            marital-status        occupation     relationship  \
3833    Married-civ-spouse    Prof-specialty          Husband
34743             Divorced   Protective-serv        Unmarried
2022              Divorced     Other-service   Other-relative
1580    Married-civ-spouse             Sales          Husband
4612    Married-civ-spouse    Prof-specialty          Husband
...                    ...               ...              ...
48826   Married-civ-spouse    Prof-specialty             Wife
44230        Never-married      Adm-clerical        Own-child
27824             Divorced      Craft-repair        Unmarried
13582   Married-civ-spouse   Exec-managerial          Husband
14557        Never-married             Sales    Not-in-family

                      race      sex  capital-gain  capital-loss  \
3833                 White     Male      0.206613      0.228573
34743                Black     Male      0.000000      0.228573
2022                 White     Male      0.206613      0.228573
1580                 White     Male      0.206613      0.228573
4612                 White     Male      0.206613      0.228573
...                    ...      ...           ...           ...
48826                White   Female      0.206613      0.228573
44230                White   Female      0.206613      0.228573
27824                White     Male      0.206613      0.228573
13582                White     Male      0.206613      0.228573
14557   Asian-Pac-Islander     Male      0.206613      0.228573

       hours-per-week  native-country  class
3833         0.212823   United-States      0
34743        0.212823   United-States      0
2022         0.212823       Nicaragua      0
1580         0.440238   United-States      1
4612         0.435505   United-States      1
...               ...             ...    ...
48826        0.212823               ?      1
44230        0.063501   United-States      0
27824        0.367245   United-States      0
13582        0.212823   United-States      0
14557        0.063501     Philippines      0

[48842 rows x 15 columns]
       age  workclass  fnlwgt  education  education-num  marital-status  \
0       22          4       8         15              7               2
1       22          1       6         11              6               0
2       15          4      11         15              7               0
3        6          4       8         11              6               2
4       22          4      11         14             13               2
...    ...        ...     ...        ...            ...             ...
48837   23          2      11         12             11               2
48838    0          6       6          1              2               4
48839   22          4       8         11              6               0
48840    6          4      11         11              6               2
48841    2          4      10         15              7               4

       occupation  relationship  race  sex  capital-gain  capital-loss  \
0              10             0     4    1             2             2
1              11             4     2    1             0             2
2               8             2     4    1             2             2
3              12             0     4    1             2             2
4              10             0     4    1             2             2
...           ...           ...   ...  ...           ...           ...
48837          10             5     4    0             2             2
48838           1             3     4    0             2             2
48839           3             4     4    1             2             2
48840           4             0     4    1             2             2
48841          12             1     1    1             2             2

       hours-per-week  native-country  class
0                   9              39      0
1                   9              39      0
2                   9              27      0
3                  22              39      1
4                  21              39      1
...               ...             ...    ...
48837               9               0      1
48838               0              39      0
48839              18              39      0
48840               9              39      0
48841               0              30      0

[48842 rows x 15 columns]