# Unsupervised discretization

Dataset: blood tranfustion

Updated at: 22 June 22

By: Sam

### About Dataset
Attribute Information:
Given is the variable name, variable type, the measurement unit and a brief  description. The "Blood Transfusion Service Center" is a classification problem. 
The order of this listing corresponds to the order of numerals along the rows of  the database.
- R (Recency - months since last donation),
- F (Frequency - total number of donation),
- M (Monetary - total blood donated in c.c.),
- T (Time - months since first donation),

LABEL: a binary variable representing whether he/she donated blood in March 2007 
- 1 stand for donating blood
- 0 stands for not donating blood

In [2]:
# Load library
import pandas as pd
import numpy as np
import time
import timeit

In [3]:
from sklearn.preprocessing import KBinsDiscretizer as kbins # also use for unsupervised

In [4]:
from feature_engine.discretisation import EqualFrequencyDiscretiser as efd
from feature_engine.discretisation import EqualWidthDiscretiser as ewd

In [5]:
# Load dataset
data = pd.read_csv('clean_tranfusion.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [7]:
# Convert outcome to categorical
data['label'] = pd.Categorical(data['label'])

In [8]:
# get list of numeric attributes to discretize
num_col = data.select_dtypes(include=np.number).columns
num_col = num_col.tolist()

In [9]:
num_col

['recency', 'frequency', 'monetary', 'time']

## Equal Width Discretization

In [10]:
# Define function: Inputs: dataset, number of parameters

def ewd_disc(data, k):
    ## set up the discretisation transformer
    ewd_disc = ewd(bins=k, variables=num_col, return_boundaries=False)
    '''
    Parameters
    ----------
    bins : int, default=10
        Desired number of equal width intervals / bins.

    variables : list
        The list of numerical variables to transform. If None, the
        discretiser will automatically select all numerical type variables.

    return_object : bool, default=False
        Whether the numbers in the discrete variable should be returned as
        numeric or as object. The decision should be made by the user based on
        whether they would like to proceed the engineering of the variable as
        if it was numerical or categorical.

    return_boundaries: bool, default=False
        whether the output should be the interval boundaries. If True, it returns
        the interval boundaries. If False, it returns integers.
    '''
    ## fit the transformer
    ewd_disc.fit(data)
    ## transform the data
    data_ewd = ewd_disc.transform(data)
    ## binner_dict contains the boundaries of the different bins: 
    # stores the interval limits identified for each variable
    ewd_disc.binner_dict_
    return data_ewd  # return dataset after discretization

### EWD - Scenario 1: k = 4

In [11]:
# Perform discretization
k = 4
start = time.time() # Starting  time
data_ewd1 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":",ewd_t) # Total time execution

Discretization time, EWD, k =  4 : 0.02020406723022461

In [12]:
# OUTPUT:
data_ewd1.head()

   recency  frequency  monetary  time label
0        0          3         3     3     1
1        0          0         0     1     1
2        0          1         1     1     1
3        0          1         1     1     1
4        0          1         1     3     0

In [13]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd1.groupby(col)[col].count())

recency
recency
0    643
1     99
2      4
3      2
Name: recency, dtype: int64
frequency
frequency
0    690
1     49
2      3
3      6
Name: frequency, dtype: int64
monetary
monetary
0    690
1     49
2      3
3      6
Name: monetary, dtype: int64
time
time
0    353
1    215
2    112
3     68
Name: time, dtype: int64

### EWD - Scenario 2: k = 7

In [14]:
# Perform discretization
k = 7
start = time.time() # Starting  time
data_ewd2 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  7 : 0.03413105010986328

In [15]:
# OUTPUT:
data_ewd2.head()

   recency  frequency  monetary  time label
0        0          6         6     6     1
1        0          1         1     1     1
2        0          2         2     2     1
3        0          2         2     3     1
4        0          3         3     5     0

In [16]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd2.groupby(col)[col].count())

recency
recency
0    404
1    284
2     53
3      5
6      2
Name: recency, dtype: int64
frequency
frequency
0    607
1    102
2     26
3      5
4      2
5      3
6      3
Name: frequency, dtype: int64
monetary
monetary
0    607
1    102
2     26
3      5
4      2
5      3
6      3
Name: monetary, dtype: int64
time
time
0    182
1    215
2    125
3     74
4     67
5     49
6     36
Name: time, dtype: int64

### EWD - Scenario 3: k = 10

In [17]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_ewd3 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":",ewd_t) # Total time execution

Discretization time, EWD, k =  10 : 0.02237105369567871

In [18]:
# OUTPUT:
data_ewd3.head()

   recency  frequency  monetary  time label
0        0          9         9     9     1
1        0          2         2     2     1
2        0          3         3     3     1
3        0          3         3     4     1
4        0          4         4     7     0

In [19]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd3.groupby(col)[col].count())

recency
recency
0    375
1    200
2    114
3     52
4      1
5      4
9      2
Name: recency, dtype: int64
frequency
frequency
0    481
1    164
2     64
3     22
4      8
5      1
6      2
7      1
8      3
9      2
Name: frequency, dtype: int64
monetary
monetary
0    481
1    164
2     64
3     22
4      8
5      1
6      2
7      1
8      3
9      2
Name: monetary, dtype: int64
time
time
0    133
1    135
2    132
3    104
4     64
5     55
6     31
7     47
8     26
9     21
Name: time, dtype: int64

## Equal Frequency Discretization - EFD
- Reference: https://nbviewer.org/github/feature-engine/feature-engine-examples/blob/main/discretisation/EqualFrequencyDiscretiser.ipynb
- Parameter:
- q : int, default=10
    Desired number of equal frequency intervals / bins. In other words the
    number of quantiles in which the variables should be divided.

- variables : list
    The list of numerical variables that will be discretised. If None, the
    EqualFrequencyDiscretiser() will select all numerical variables.

- return_object : bool, default=False
    Whether the numbers in the discrete variable should be returned as
    numeric or as object. The decision is made by the user based on
    whether they would like to proceed the engineering of the variable as
    if it was numerical or categorical.

- return_boundaries: bool, default=False
    whether the output should be the interval boundaries. If True, it returns
    the interval boundaries. If False, it returns integers.

In [20]:
def efd_disc(data, k):
    ## set up the discretisation transformer
    efd_disc = efd(q=k, variables=num_col)
    ## fit the transformer
    efd_disc.fit(data)
    ## transform the data
    data_efd = efd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    efd_disc.binner_dict_
    return data_efd

### Define function efd_disc, inputs include dataset, number of intervals (k)

### EFD - Scenario 1: k = 4

In [21]:
# Perform discretization
k = 4
start = time.time() # Starting time
data_efd1 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  4 : 0.03804802894592285

In [22]:
## OUTPUT: Check number of instance in each interval 
for col in num_col:
    print(col)
    print(data_efd1.groupby(col)[col].count())

recency
recency
0    187
1    188
2    200
3    173
Name: recency, dtype: int64
frequency
frequency
0    270
1    149
2    157
3    172
Name: frequency, dtype: int64
monetary
monetary
0    270
1    149
2    157
3    172
Name: monetary, dtype: int64
time
time
0    233
1    159
2    176
3    180
Name: time, dtype: int64

### EFD - Scenario 2: k = 7

In [23]:
# Perform discretization
k = 7
start = time.time() # Starting time
data_efd2 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  7 : 0.02478480339050293

In [24]:
## OUTPUT
data_efd2.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0    187
1    169
2    132
3     87
4     66
5    107
Name: recency, dtype: int64
frequency
frequency
0    270
1     87
2    124
3     95
4     69
5    103
Name: frequency, dtype: int64
monetary
monetary
0    270
1     87
2    124
3     95
4     69
5    103
Name: monetary, dtype: int64
time
time
0    133
1    100
2    120
3     74
4    115
5    107
6     99
Name: time, dtype: int64

### Scenario 3: k = 10

In [25]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_efd3 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  10 : 0.018009185791015625

In [26]:
## OUTPUT
data_efd3.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0    187
1    169
2     19
3    113
4     87
5     65
6     48
7     60
Name: recency, dtype: int64
frequency
frequency
0    270
1     87
2     62
3     62
4     52
5     74
6     74
7     67
Name: frequency, dtype: int64
monetary
monetary
0    270
1     87
2     62
3     62
4     52
5     74
6     74
7     67
Name: monetary, dtype: int64
time
time
0    94
1    85
2    54
3    80
4    79
5    65
6    72
7    73
8    72
9    74
Name: time, dtype: int64

## Fixed Frequency Discretization - FFD

### Define function ffd_disc: modify input of function efd
Input include dataset, interval frequency (m)

In [27]:
def ffd_disc(data, m): # 
    n = len(data)
    ## set up the discretisation transformer
    ffd_disc = efd(q=round(n/m), variables=num_col) # number of bins = n/m
    ## fit the transformer
    ffd_disc.fit(data)
    ## transform the data
    data_ffd = ffd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    ffd_disc.binner_dict_
    return data_ffd

### FFD - Scenario 1: m = 10

In [28]:
# Perform discretization
m = 10
start = time.time() # Starting time
data_ffd1 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD,  m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD,  m =  10 : 0.02072596549987793

In [29]:
## OUTPUT
data_ffd1.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd1.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0      14
1     173
2      13
4     156
5       6
6      13
7       6
8      20
9      87
10      6
11      5
12     76
13     65
14     48
16     51
17      9
Name: recency, dtype: int64
frequency
frequency
0     270
1      87
2      62
4      62
5      52
6      43
7      31
8      24
9      14
10     22
11     14
12      9
13     13
14      6
15     13
16      7
17     10
18      9
Name: frequency, dtype: int64
monetary
monetary
0     270
1      87
2      62
4      62
5      52
6      43
7      31
8      24
9      14
10     22
11     14
12      9
13     13
14      6
15     13
16      7
17     10
18      9
Name: monetary, dtype: int64
time
time
0     94
1      6
2     33
3     46
4      3
5     51
6      7
7     28
8      9
9     36
10     7
11    33
12    39
13     8
14    17
15    10
16    30
17     5
18    21
19     7
20    14
21    12
22     2
23    11
24    13
25     7
26    10
27     9
28    24
29    10
30    17
31     9
32    21
33    14
34     5
35    12
36    12
37     7
38    11
39    10
40    12
41     6
42    10
Name: time, dtype: int64

### FFD - Scenario 1: m = 30

In [30]:
# Perform discretization
m = 30
start = time.time() # Starting time
data_ffd2 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, EFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, EFD, m =  30 : 0.020809173583984375

In [31]:
## OUTPUT
data_ffd2.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0     187
1     169
2       6
3      39
4      87
5      87
6      65
7      48
9      51
10      9
Name: recency, dtype: int64
frequency
frequency
0     270
1      87
2      62
4      62
5      52
6      43
7      31
8      24
9      36
10     23
11     32
12     26
Name: frequency, dtype: int64
monetary
monetary
0     270
1      87
2      62
4      62
5      52
6      43
7      31
8      24
9      36
10     23
11     32
12     26
Name: monetary, dtype: int64
time
time
0     94
1     39
2     46
3      3
4     51
5      7
6     37
7     36
8     40
9     39
10    35
11    30
12    26
13    33
14    26
15    26
16    34
17    26
18    35
19    29
20    28
21    28
Name: time, dtype: int64

### FFD - Scenario 3: m = 60

In [32]:
# Perform discretization
m = 60
start = time.time() # Starting time
data_ffd3 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  60 : 0.019863128662109375

In [33]:
## OUTPUT
data_ffd3.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0    187
2    169
3     19
4    113
5     11
6     76
7     65
8     48
9     60
Name: recency, dtype: int64
frequency
frequency
0    270
1     87
2     62
3     62
4     52
5     43
6     55
7     59
8     58
Name: frequency, dtype: int64
monetary
monetary
0    270
1     87
2     62
3     62
4     52
5     43
6     55
7     59
8     58
Name: monetary, dtype: int64
time
time
0      94
1      39
2     100
3      35
4      45
5      79
6      65
7      47
8      64
9      55
10     62
11     63
Name: time, dtype: int64

#### FFD, m = 100

In [34]:
# Perform discretization
m = 100
start = time.time() # Starting time
data_ffd4 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  100 : 0.01761317253112793

In [35]:
## OUTPUT
data_ffd4.info()

## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd4.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   recency    748 non-null    int64
 1   frequency  748 non-null    int64
 2   monetary   748 non-null    int64
 3   time       748 non-null    int64
 4   label      748 non-null    category
dtypes: category(1), int64(4)
memory usage: 24.4 KB
recency
recency
0    187
1    169
2    132
3     87
4     66
5    107
Name: recency, dtype: int64
frequency
frequency
0    270
1     87
2    124
3     95
4     69
5    103
Name: frequency, dtype: int64
monetary
monetary
0    270
1     87
2    124
3     95
4     69
5    103
Name: monetary, dtype: int64
time
time
0    133
1    100
2    120
3     74
4    115
5    107
6     99
Name: time, dtype: int64

### Export all discretized datasets

In [36]:
# EWD datasets:
data_ewd1.to_csv('tranfusion_ewd1.csv') # k=4
data_ewd2.to_csv('tranfusion_ewd2.csv') # k=7
data_ewd3.to_csv('tranfusion_ewd3.csv') # k=10

In [37]:
# EFD datasets:
data_efd1.to_csv('tranfusion_efd1.csv') # k=4
data_efd2.to_csv('tranfusion_efd2.csv') # k=7
data_efd3.to_csv('tranfusion_efd3.csv') # k=10

In [38]:
# FFD datasets:
data_ffd1.to_csv('tranfusion_ffd1.csv') # m=10
data_ffd2.to_csv('tranfusion_ffd2.csv') # m=30
data_ffd3.to_csv('tranfusion_ffd3.csv') # m=60
data_ffd4.to_csv('tranfusion_ffd4.csv') # m=100