# Unsupervised discretization

Dataset: clean_pageblock (M)

Updated at: 22 June 22

By: Sam

### About Dataset

Number of Instances: 5473.

Number of Attributes: 10 numeric attributes
   - height: Height of the block.
   - lenght: Length of the block. 
   - area: Area of the block (height * lenght);
   - eccen: Eccentricity of the block (lenght / height);
   - p_black:Percentage of black pixels within the block (blackpix / area);
   - p_and: Percentage of black pixels after the application of the Run Length Smoothing Algorithm (RLSA) (blackand / area);
   - mean_tr: Mean number of white-black transitions (blackpix / wb_trans);
   - blackpix: Total number of black pixels in the original bitmap of the block.
   - blackand: Total number of black pixels in the bitmap of the block after the RLSA.
   - wb_trans: Number of white-black transitions in the original bitmap of the block.

Missing Attribute Values:  No missing value.

In [2]:
# Load library
import pandas as pd
import numpy as np
import time
import timeit

In [3]:
from sklearn.preprocessing import KBinsDiscretizer as kbins # also use for unsupervised

In [4]:
from feature_engine.discretisation import EqualFrequencyDiscretiser as efd
from feature_engine.discretisation import EqualWidthDiscretiser as ewd

In [5]:
# Load dataset
data = pd.read_csv('clean_pageblock.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   float64
 4   p_black   5473 non-null   float64
 5   p_and     5473 non-null   float64
 6   mean_tr   5473 non-null   float64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 470.5 KB

In [7]:
# Convert outcome to categorical
data['class'] = pd.Categorical(data['class'])

In [8]:
# get list of numeric attributes to discretize
num_col = data.select_dtypes(include=np.number).columns
num_col = num_col.tolist()

In [9]:
num_col

['height',
 'length',
 'area',
 'eccen',
 'p_black',
 'p_and',
 'mean_tr',
 'blacpix',
 'blackand',
 'wb_trans']

## Equal Width Discretization

In [10]:
# Define function: Inputs: dataset, number of parameters

def ewd_disc(data, k):
    ## set up the discretisation transformer
    ewd_disc = ewd(bins=k, variables=num_col, return_boundaries=False)
    '''
    Parameters
    ----------
    bins : int, default=10
        Desired number of equal width intervals / bins.

    variables : list
        The list of numerical variables to transform. If None, the
        discretiser will automatically select all numerical type variables.

    return_object : bool, default=False
        Whether the numbers in the discrete variable should be returned as
        numeric or as object. The decision should be made by the user based on
        whether they would like to proceed the engineering of the variable as
        if it was numerical or categorical.

    return_boundaries: bool, default=False
        whether the output should be the interval boundaries. If True, it returns
        the interval boundaries. If False, it returns integers.
    '''
    ## fit the transformer
    ewd_disc.fit(data)
    ## transform the data
    data_ewd = ewd_disc.transform(data)
    ## binner_dict contains the boundaries of the different bins: 
    # stores the interval limits identified for each variable
    ewd_disc.binner_dict_
    return data_ewd  # return dataset after discretization

### EWD - Scenario 1: k = 4

In [11]:
# Perform discretization
k = 4
start = time.time() # Starting  time
data_ewd1 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":",ewd_t) # Total time execution

Discretization time, EWD, k =  4 : 0.05166006088256836

In [12]:
# OUTPUT:
data_ewd1.head()

,height,length,area,eccen,p_black,p_and,mean_tr,blacpix,blackand,wb_trans,class
0,0,0,0,0,1,2,0,0,0,0,1
1,0,0,0,0,1,3,0,0,0,0,1
2,0,0,0,0,0,2,0,0,0,0,1
3,0,0,0,0,1,2,0,0,0,0,1
4,0,0,0,0,1,3,0,0,0,0,1

In [13]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd1.groupby(col)[col].count())

height
height
0    5466
1       5
2       1
3       1
Name: height, dtype: int64
length
length
0    4391
1     644
2     261
3     177
Name: length, dtype: int64
area
area
0    5461
1       4
2       5
3       3
Name: area, dtype: int64
eccen
eccen
0    5393
1      68
2      10
3       2
Name: eccen, dtype: int64
p_black
p_black
0    1852
1    2946
2     395
3     280
Name: p_black, dtype: int64
p_and
p_and
0      68
1     344
2    1863
3    3198
Name: p_and, dtype: int64
mean_tr
mean_tr
0    5472
3       1
Name: mean_tr, dtype: int64
blacpix
blacpix
0    5453
1      12
2       4
3       4
Name: blacpix, dtype: int64
blackand
blackand
0    5447
1      16
2       6
3       4
Name: blackand, dtype: int64
wb_trans
wb_trans
0    5446
1      17
2       8
3       2
Name: wb_trans, dtype: int64

### EWD - Scenario 2: k = 7

In [14]:
# Perform discretization
k = 7
start = time.time() # Starting  time
data_ewd2 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  7 : 0.04986214637756348

In [15]:
# OUTPUT:
data_ewd2.head()

,height,length,area,eccen,p_black,p_and,mean_tr,blacpix,blackand,wb_trans,class
0,0,0,0,0,2,4,0,0,0,0,1
1,0,0,0,0,2,6,0,0,0,0,1
2,0,0,0,0,1,5,0,0,0,0,1
3,0,0,0,0,2,5,0,0,0,0,1
4,0,0,0,0,3,6,0,0,0,0,1

In [16]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd2.groupby(col)[col].count())

height
height
0    5447
1      20
2       4
3       1
6       1
Name: height, dtype: int64
length
length
0    3615
1     886
2     338
3     291
4     129
5      84
6     130
Name: length, dtype: int64
area
area
0    5444
1      18
2       2
3       4
4       2
6       3
Name: area, dtype: int64
eccen
eccen
0    5348
1      55
2      31
3      36
4       1
5       1
6       1
Name: eccen, dtype: int64
p_black
p_black
0     522
1    1931
2    1967
3     585
4     176
5      68
6     224
Name: p_black, dtype: int64
p_and
p_and
0      27
1      59
2     148
3     518
4    1144
5    1519
6    2058
Name: p_and, dtype: int64
mean_tr
mean_tr
0    5472
6       1
Name: mean_tr, dtype: int64
blacpix
blacpix
0    5421
1      36
2       6
3       4
4       2
5       3
6       1
Name: blacpix, dtype: int64
blackand
blackand
0    5413
1      39
2      10
3       7
5       2
6       2
Name: blackand, dtype: int64
wb_trans
wb_trans
0    5276
1     176
2       9
3       8
4       1
5       1
6       2
Name: wb_trans, dtype: int64

### EWD - Scenario 3: k = 10

In [17]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_ewd3 = ewd_disc(data, k)
end = time.time()
ewd_t = end - start
print("Discretization time, EWD, k = ", k,":", ewd_t) # Total time execution

Discretization time, EWD, k =  10 : 0.04728507995605469

In [18]:
# OUTPUT:
data_ewd3.head()

,height,length,area,eccen,p_black,p_and,mean_tr,blacpix,blackand,wb_trans,class
0,0,0,0,0,3,6,0,0,0,0,1
1,0,0,0,0,3,8,0,0,0,0,1
2,0,0,0,0,2,7,0,0,0,0,1
3,0,0,0,0,3,7,0,0,0,0,1
4,0,0,0,0,4,9,0,0,0,0,1

In [19]:
## OUTPUT: Check number of instance in each interval in the data_ewd
# With equal width discretisation, each bin does not necessarily 
# contain the same number of observations.
for col in num_col:
    print(col)
    print(data_ewd3.groupby(col)[col].count())

height
height
0    5427
1      29
2      11
3       4
5       1
9       1
Name: height, dtype: int64
length
length
0    3210
1     949
2     380
3     261
4     235
5     125
6      91
7      71
8      33
9     118
Name: length, dtype: int64
area
area
0    5436
1      25
2       1
3       2
4       1
5       3
6       2
9       3
Name: area, dtype: int64
eccen
eccen
0    5250
1     130
2      28
3      25
4      28
5       9
7       2
9       1
Name: eccen, dtype: int64
p_black
p_black
0     229
1     863
2    1624
3    1460
4     622
5     262
6     109
7      54
8      60
9     190
Name: p_black, dtype: int64
p_and
p_and
0      16
1      27
2      53
3     102
4     214
5     533
6     811
7    1069
8    1060
9    1588
Name: p_and, dtype: int64
mean_tr
mean_tr
0    5471
1       1
9       1
Name: mean_tr, dtype: int64
blacpix
blacpix
0    5388
1      49
2      20
3       5
4       3
5       3
6       1
8       3
9       1
Name: blacpix, dtype: int64
blackand
blackand
0    5383
1      53
2      16
3      10
4       1
5       6
7       2
9       2
Name: blackand, dtype: int64
wb_trans
wb_trans
0    4993
1     416
2      43
3       7
4       4
5       6
7       2
9       2
Name: wb_trans, dtype: int64

## Equal Frequency Discretization - EFD
- Reference: https://nbviewer.org/github/feature-engine/feature-engine-examples/blob/main/discretisation/EqualFrequencyDiscretiser.ipynb
- Parameter:
- q : int, default=10
    Desired number of equal frequency intervals / bins. In other words the
    number of quantiles in which the variables should be divided.

- variables : list
    The list of numerical variables that will be discretised. If None, the
    EqualFrequencyDiscretiser() will select all numerical variables.

- return_object : bool, default=False
    Whether the numbers in the discrete variable should be returned as
    numeric or as object. The decision is made by the user based on
    whether they would like to proceed the engineering of the variable as
    if it was numerical or categorical.

- return_boundaries: bool, default=False
    whether the output should be the interval boundaries. If True, it returns
    the interval boundaries. If False, it returns integers.

In [20]:
def efd_disc(data, k):
    ## set up the discretisation transformer
    efd_disc = efd(q=k, variables=num_col)
    ## fit the transformer
    efd_disc.fit(data)
    ## transform the data
    data_efd = efd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    efd_disc.binner_dict_
    return data_efd

### Define function efd_disc, inputs include dataset, number of intervals (k)

### EFD - Scenario 1: k = 4

In [21]:
# Perform discretization
k = 4
start = time.time() # Starting time
data_efd1 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":", efd_t) # Total time execution

Discretization time, EFD, k =  4 : 0.06009697914123535

In [22]:
## OUTPUT: Check number of instance in each interval 
for col in num_col:
    print(col)
    print(data_efd1.groupby(col)[col].count())

height
height
0    1916
1     940
2    1533
3    1084
Name: height, dtype: int64
length
length
0    1384
1    1377
2    1360
3    1352
Name: length, dtype: int64
area
area
0    1376
1    1362
2    1369
3    1366
Name: area, dtype: int64
eccen
eccen
0    1370
1    1373
2    1364
3    1366
Name: eccen, dtype: int64
p_black
p_black
0    1376
1    1364
2    1376
3    1357
Name: p_black, dtype: int64
p_and
p_and
0    1375
1    1362
2    1382
3    1354
Name: p_and, dtype: int64
mean_tr
mean_tr
0    1391
1    1351
2    1368
3    1363
Name: mean_tr, dtype: int64
blacpix
blacpix
0    1386
1    1359
2    1362
3    1366
Name: blacpix, dtype: int64
blackand
blackand
0    1375
1    1370
2    1362
3    1366
Name: blackand, dtype: int64
wb_trans
wb_trans
0    1403
1    1349
2    1361
3    1360
Name: wb_trans, dtype: int64

### EFD - Scenario 2: k = 7

In [23]:
# Perform discretization
k = 7
start = time.time() # Starting time
data_efd2 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  7 : 0.05820107460021973

In [24]:
## OUTPUT
data_efd2.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0    1085
1     831
2     940
3     903
4     630
5     326
6     758
Name: height, dtype: int64
length
length
0    792
1    790
2    795
3    756
4    793
5    765
6    782
Name: length, dtype: int64
area
area
0    819
1    752
2    777
3    781
4    781
5    781
6    782
Name: area, dtype: int64
eccen
eccen
0    785
1    788
2    781
3    775
4    782
5    785
6    777
Name: eccen, dtype: int64
p_black
p_black
0    791
1    787
2    782
3    771
4    787
5    788
6    767
Name: p_black, dtype: int64
p_and
p_and
0    782
1    791
2    774
3    789
4    773
5    785
6    779
Name: p_and, dtype: int64
mean_tr
mean_tr
0    806
1    762
2    792
3    770
4    783
5    778
6    782
Name: mean_tr, dtype: int64
blacpix
blacpix
0    810
1    779
2    772
3    769
4    779
5    782
6    782
Name: blacpix, dtype: int64
blackand
blackand
0    789
1    791
2    766
3    784
4    780
5    781
6    782
Name: blackand, dtype: int64
wb_trans
wb_trans
0    831
1    767
2    764
3    776
4    783
5    772
6    780
Name: wb_trans, dtype: int64

### Scenario 3: k = 10

In [25]:
# Perform discretization
k = 10
start = time.time() # Starting time
data_efd3 = efd_disc(data, k)
end = time.time()
efd_t = end - start
print("Discretization time, EFD, k = ", k,":",efd_t) # Total time execution

Discretization time, EFD, k =  10 : 0.05880284309387207

In [26]:
## OUTPUT
data_efd3.info()
## OUTPUT: Check number of instance in each interval in the data_efd
for col in num_col:
    print(col)
    print(data_efd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0     734
1    1182
2     940
3     903
4     630
5     593
6     491
Name: height, dtype: int64
length
length
0    623
1    526
2    523
3    535
4    554
5    540
6    542
7    535
8    549
9    546
Name: length, dtype: int64
area
area
0    554
1    602
2    509
3    538
4    535
5    553
6    541
7    546
8    547
9    548
Name: area, dtype: int64
eccen
eccen
0    551
1    569
2    526
3    551
4    546
5    544
6    545
7    546
8    547
9    548
Name: eccen, dtype: int64
p_black
p_black
0    549
1    555
2    552
3    536
4    548
5    553
6    548
7    538
8    549
9    545
Name: p_black, dtype: int64
p_and
p_and
0     548
1     550
2     545
3     552
4     542
5     554
6     543
7     545
8    1094
Name: p_and, dtype: int64
mean_tr
mean_tr
0    556
1    556
2    537
3    552
4    541
5    572
6    529
7    536
8    554
9    540
Name: mean_tr, dtype: int64
blacpix
blacpix
0    572
1    542
2    554
3    522
4    555
5    540
6    548
7    545
8    547
9    548
Name: blacpix, dtype: int64
blackand
blackand
0    563
1    543
2    542
3    544
4    553
5    540
6    548
7    545
8    547
9    548
Name: blackand, dtype: int64
wb_trans
wb_trans
0    620
1    497
2    551
3    527
4    557
5    553
6    532
7    543
8    545
9    548
Name: wb_trans, dtype: int64

## Fixed Frequency Discretization - FFD

### Define function ffd_disc: modify input of function efd
Input include dataset, interval frequency (m)

In [27]:
def ffd_disc(data, m): # 
    n = len(data)
    ## set up the discretisation transformer
    ffd_disc = efd(q=round(n/m), variables=num_col) # number of bins = n/m
    ## fit the transformer
    ffd_disc.fit(data)
    ## transform the data
    data_ffd = ffd_disc.transform(data)
    ## binner_dict_ stores the interval limits identified for each variable.
    ffd_disc.binner_dict_
    return data_ffd

### FFD - Scenario 1: m = 10

In [28]:
# Perform discretization
m = 10
start = time.time() # Starting time
data_ffd1 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD,  m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD,  m =  10 : 0.19887685775756836

In [29]:
## OUTPUT
data_ffd1.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd1.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0     341
2      58
3      64
4     271
5     351
6     831
7     940
8     903
9     630
10    326
11    164
12    103
14     89
15     20
16     46
17     35
19     10
20     11
21     13
22     15
23     16
24     39
25     33
26      6
27      7
28     15
29      5
30     12
31     13
32      5
33     10
34     11
35     12
36      7
37     10
38     12
39      8
40     10
41     10
42     11
Name: height, dtype: int64
length
length
0      93
1      33
2      73
3      45
4      59
       ..
237    13
238    22
239    12
240    13
242    11
Name: length, Length: 231, dtype: int64
area
area
0      11
1      18
2      24
3      17
4       6
       ..
429    10
430    10
431    10
432    10
433    11
Name: area, Length: 421, dtype: int64
eccen
eccen
0      12
1      10
2       9
3      12
4       9
       ..
430    10
431    12
432    17
433     3
434     9
Name: eccen, Length: 422, dtype: int64
p_black
p_black
0       13
1        8
2       13
3        8
4       10
      ...
407     10
408     10
409     10
410     10
411    111
Name: p_black, Length: 386, dtype: int64
p_and
p_and
0       11
1       10
2       10
3       12
4        8
      ...
420      7
421      8
422     15
423      7
424    639
Name: p_and, Length: 413, dtype: int64
mean_tr
mean_tr
0      12
1       9
2      15
3       5
4      10
       ..
316    11
317     9
318    10
319    10
320    11
Name: mean_tr, Length: 305, dtype: int64
blacpix
blacpix
0      126
1       52
2       32
3       45
4       37
      ...
373     10
374     10
375     10
376     10
377     11
Name: blacpix, Length: 360, dtype: int64
blackand
blackand
0      47
1      22
2      18
3      15
4      19
       ..
486    10
487    10
488    10
489    10
490    11
Name: blackand, Length: 480, dtype: int64
wb_trans
wb_trans
0      335
1       75
2       71
4       55
5       84
      ...
265     10
266     10
267     10
268     10
269     11
Name: wb_trans, Length: 259, dtype: int64

### FFD - Scenario 1: m = 30

In [30]:
# Perform discretization
m = 30
start = time.time() # Starting time
data_ffd2 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, EFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, EFD, m =  30 : 0.09447002410888672

In [31]:
## OUTPUT
data_ffd2.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd2.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0     341
1      58
2      64
3     271
4     351
5     831
6     940
7     903
9     630
10    326
11    164
12    103
13     89
14     20
15     46
16     35
18     34
19     31
20     39
21     33
22     13
23     32
24     28
25     30
26     30
27     31
Name: height, dtype: int64
length
length
0      93
1      33
2      73
3      45
4      59
       ..
125    30
126    34
127    29
128    34
129    24
Name: length, Length: 129, dtype: int64
area
area
0      53
1      17
2      27
3      29
4      32
       ..
171    30
172    30
173    30
174    30
175    31
Name: area, Length: 176, dtype: int64
eccen
eccen
0      31
1      31
2      29
3      31
4      29
       ..
167    30
168    30
169    30
170    32
171    29
Name: eccen, Length: 172, dtype: int64
p_black
p_black
0       34
1       28
2       31
3       31
4       29
      ...
171     30
172     30
173     30
174     30
175    121
Name: p_black, Length: 176, dtype: int64
p_and
p_and
0       31
1       30
2       30
3       31
4       32
      ...
156     28
157     36
158     32
159     22
160    661
Name: p_and, Length: 161, dtype: int64
mean_tr
mean_tr
0      36
1      31
2      35
3      25
4      31
       ..
163    26
164    29
165    32
166    28
167    31
Name: mean_tr, Length: 168, dtype: int64
blacpix
blacpix
0      126
1       52
2       32
3       45
4       37
      ...
163     30
164     30
165     30
166     30
167     31
Name: blacpix, Length: 167, dtype: int64
blackand
blackand
0      47
1      22
2      33
3      19
4      38
       ..
177    30
178    30
179    30
180    30
181    31
Name: blackand, Length: 182, dtype: int64
wb_trans
wb_trans
0      335
1       75
2       71
3       55
4       84
      ...
134     30
135     30
136     30
137     30
138     31
Name: wb_trans, Length: 137, dtype: int64

### FFD - Scenario 3: m = 60

In [32]:
# Perform discretization
m = 60
start = time.time() # Starting time
data_ffd3 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  60 : 0.07576704025268555

In [33]:
## OUTPUT
data_ffd3.info()
## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd3.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0     341
1      58
2      64
3     271
4     351
5     831
6     940
7     903
8     630
9     326
10    164
11    103
12     89
13     66
14     35
15     65
16     72
17     45
18     58
19     61
Name: height, dtype: int64
length
length
0     126
1      73
2      45
3      59
4     112
     ...
77     59
78     60
79     60
80     63
81     58
Name: length, Length: 81, dtype: int64
area
area
0     70
1     56
2     66
3     50
4     71
      ..
86    64
87    56
88    60
89    60
90    61
Name: area, Length: 91, dtype: int64
eccen
eccen
0     62
1     60
2     59
3     71
4     55
      ..
84    61
85    60
86    59
87    60
88    61
Name: eccen, Length: 89, dtype: int64
p_black
p_black
0      62
1      62
2      57
3      62
4      70
     ...
85     60
86     60
87     60
88     60
89    121
Name: p_black, Length: 90, dtype: int64
p_and
p_and
0      61
1      61
2      59
3      61
4      59
     ...
76     51
77     58
78     64
79     54
80    661
Name: p_and, Length: 81, dtype: int64
mean_tr
mean_tr
0     67
1     60
2     68
3     49
4     65
      ..
85    60
86    64
87    57
88    61
89    59
Name: mean_tr, Length: 90, dtype: int64
blacpix
blacpix
0     126
1      84
2      45
3      85
4      45
     ...
85     59
86     60
87     60
88     60
89     61
Name: blacpix, Length: 90, dtype: int64
blackand
blackand
0     69
1     52
2     71
3     50
4     65
      ..
86    60
87    60
88    60
89    60
90    61
Name: blackand, Length: 91, dtype: int64
wb_trans
wb_trans
0     335
1      75
2      71
3      55
4      84
     ...
79     57
80     60
81     60
82     60
83     61
Name: wb_trans, Length: 84, dtype: int64

#### FFD, m = 100

In [34]:
# Perform discretization
m = 100
start = time.time() # Starting time
data_ffd4 = ffd_disc(data, m)
end = time.time()
ffd_t = end - start
print("Discretization time, FFD, m = ", m, ":", ffd_t) # Total time execution

Discretization time, FFD, m =  100 : 0.07030320167541504

In [35]:
## OUTPUT
data_ffd4.info()

## OUTPUT: Check number of instance in each interval
for col in num_col:
    print(col)
    print(data_ffd4.groupby(col)[col].count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5473 entries, 0 to 5472
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    5473 non-null   int64
 1   length    5473 non-null   int64
 2   area      5473 non-null   int64
 3   eccen     5473 non-null   int64
 4   p_black   5473 non-null   int64
 5   p_and     5473 non-null   int64
 6   mean_tr   5473 non-null   int64
 7   blacpix   5473 non-null   int64
 8   blackand  5473 non-null   int64
 9   wb_trans  5473 non-null   int64
 10  class     5473 non-null   category
dtypes: category(1), int64(10)
memory usage: 433.3 KB
height
height
0     341
1      58
2     335
3     351
4     831
5     940
6     903
7     630
8     326
9     164
10    103
11    109
12     91
13     94
14    106
15     91
Name: height, dtype: int64
length
length
0     126
1      73
2     104
3     112
4     105
5     103
6     169
7     126
8     118
9     113
10     63
11     83
12    185
13    102
14     90
15     67
16     68
17    113
18    107
19     85
20     95
21    113
22    106
23     99
24     87
25     95
26     91
27    120
28     80
29     92
30     95
31    116
32     89
33    113
34     87
35    104
36     94
37    100
38    106
39     87
40    104
41    101
42     92
43    109
44     91
45    100
46    103
47     97
48    119
49     80
50     97
51    101
52    100
53     98
Name: length, dtype: int64
area
area
0     107
1      96
2     110
3     110
4      79
5     128
6      81
7     108
8      93
9     104
10    140
11     39
12    113
13    105
14     86
15     99
16    102
17     96
18    102
19     93
20    100
21    112
22     93
23     94
24    103
25     99
26    101
27    100
28     98
29    100
30     96
31    100
32    104
33     93
34    104
35     97
36     97
37    101
38     99
39     99
40    104
41     97
42     97
43     99
44    100
45    102
46     99
47     97
48    100
49     99
50    100
51     99
52    100
53     99
54    100
Name: area, dtype: int64
eccen
eccen
0     100
1     121
2      86
3     188
4       3
5     103
6     123
7     131
8      55
9     110
10    100
11    190
12     89
13    120
14     94
15     88
16    108
17    106
18     90
19     85
20    107
21    142
22     49
23    117
24     84
25    109
26     89
27    100
28    124
29     76
30     97
31    103
32    108
33     88
34    100
35     99
36     99
37    103
38    105
39     91
40    101
41    110
42     87
43    101
44     98
45    100
46    100
47    102
48     96
49    107
50     94
51    100
52     97
53    100
Name: eccen, dtype: int64
p_black
p_black
0     103
1     102
2     108
3      90
4      97
5      98
6     102
7     101
8      98
9     112
10     93
11    110
12     97
13     91
14     99
15     93
16    113
17    113
18     75
19    102
20    108
21     87
22    102
23    107
24    101
25     99
26     97
27     96
28     95
29    105
30    111
31     89
32     99
33     97
34    104
35     88
36    110
37     94
38    115
39     80
40    103
41    100
42    107
43     88
44    102
45     96
46    129
47     70
48    101
49    104
50     97
51     97
52     99
53    199
Name: p_black, dtype: int64
p_and
p_and
0     101
1      98
2     100
3     102
4      98
5     100
6     101
7     104
8      93
9      99
10    102
11    101
12     99
13     97
14    105
15     96
16    100
17    101
18     95
19    107
20     93
21    103
22     96
23     99
24    108
25     94
26    117
27     84
28     98
29     95
30    100
31    101
32    104
33    105
34    102
35     98
36     96
37     91
38    102
39    101
40    107
41     92
42     95
43     99
44    106
45    100
46     97
47    108
48    683
Name: p_and, dtype: int64
mean_tr
mean_tr
0     102
1     112
2      95
3      99
4     108
5      87
6     116
7      87
8      94
9     126
10     86
11     83
12    121
13     92
14     96
15     89
16     99
17    103
18    114
19     87
20    108
21     97
22     90
23    101
24     97
25    111
26     90
27    111
28     91
29    108
30    113
31     72
32    129
33     80
34    106
35     93
36     97
37     94
38    110
39     92
40    124
41     70
42    100
43     99
44    107
45    105
46     90
47    124
48     71
49     99
50    100
51     99
52    101
53     98
54    100
Name: mean_tr, dtype: int64
blacpix
blacpix
0     126
1      84
2     130
3      95
4      74
5     105
6     118
7      78
8     129
9      61
10    114
11     90
12    117
13     82
14     91
15    119
16     93
17    113
18     80
19    100
20     91
21    100
22    112
23     88
24    105
25    104
26     88
27    105
28    100
29     98
30    102
31     98
32     95
33    100
34    100
35    101
36     99
37    100
38    100
39    102
40     97
41     97
42     98
43     99
44    100
45    102
46     97
47    100
48     99
49    100
50    100
51     98
52    100
53     99
54    100
Name: blacpix, dtype: int64
blackand
blackand
0     102
1     107
2      98
3      98
4      99
5      97
6      98
7     101
8      98
9     109
10     99
11     99
12     95
13     94
14    104
15     97
16    104
17     94
18    107
19     96
20    104
21     92
22    107
23     90
24     99
25     99
26    105
27     97
28     98
29     99
30    102
31     98
32     99
33     99
34    102
35     97
36     99
37     99
38    102
39     97
40    100
41    100
42     99
43     99
44    100
45     99
46    100
47     99
48    101
49     98
50    100
51     99
52    100
53     99
54    100
Name: blackand, dtype: int64
wb_trans
wb_trans
0     335
1      75
2     126
3      84
4     137
5      74
6      67
7     151
8      68
9      91
10    134
11     61
12    132
13     63
14    118
15     96
16     99
17    108
18     87
19     89
20    111
21     86
22    120
23    105
24     80
25    101
26    110
27    102
28    101
29     76
30    118
31     88
32     91
33     99
34    114
35     90
36     97
37     99
38    108
39     96
40     93
41    100
42    106
43     91
44    100
45    103
46     96
47     99
48    105
49     95
50    100
51     99
52     99
Name: wb_trans, dtype: int64

### Export discretized datasets

In [36]:
# EWD datasets:
data_ewd1.to_csv('pageblock_ewd1.csv') # k=4
data_ewd2.to_csv('pageblock_ewd2.csv') # k=7
data_ewd3.to_csv('pageblock_ewd3.csv') # k=10

In [37]:
# EFD datasets:
data_efd1.to_csv('pageblock_efd1.csv') # k=4
data_efd2.to_csv('pageblock_efd2.csv') # k=7
data_efd3.to_csv('pageblock_efd3.csv') # k=10

In [38]:
# FFD datasets:
data_ffd1.to_csv('pageblock_ffd1.csv') # m=10
data_ffd2.to_csv('pageblock_ffd2.csv') # m=30
data_ffd3.to_csv('pageblock_ffd3.csv') # m=60
data_ffd4.to_csv('pageblock_ffd4.csv') # m=100